<div class="login-container">
    <form class="login-form" (submit)="handleSubmit($event)">
        <div class=" logo">
            <div>
                <img src="/logo.png" alt="">
            </div>
            <span>MovieZzz</span>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <div class="input-field">
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="correo@correo.com" [(ngModel)]="email" name="email" required>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input id="password" type="text" placeholder="*******" [(ngModel)]="password" name="password" required>
        </div>
        <div class="login-options">
            <p>Don't have an account? Sign Up</p>
            <p>Forgot password?</p>
        </div>
        <input class="login-btn" type="submit" value="Log In" (click)="onSubmit">
    </form>
</div>