:root {
    --dark-color: #00050d;
    --dark-purple-primary: #161D30;
    --dark-purple-secondary: #273046;
    --orange-primary: #F7B914;
    --orange-secondary: #E93927;
    --orange-terciary: #DC9751;
    --white-color: #ffffff;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-purple-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* reset */
ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}


h2,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    width: 100%;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo div {
    width: 2.5rem;
}



.logo span {
    font-size: 2.8rem;
    color: #F5A21A;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    background-image: linear-gradient(-60deg, #E93927 0%, #F7B914 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.cont {
    display: flex;
}

/* aqui */
.sidebar {
    display: none;
    background-color: #273046;
    background-color: var(--dark-purple-secondary);
    width: 20rem;
}

@media screen and (max-width: 1010px) {
    .cont {
        display: block;
    }

}

@media screen and (min-width: 1010px) {
    .sidebar {
        display: block;
    }

}

.cont>div {
    border-right: 1px solid #ffffff14;
    height: 100vh;
    padding: 1.5rem;
}

.icon-close {
    cursor: pointer;
    color: var(--orange-primary);
}

.navbar-mobile {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-purple-secondary);
    padding: 4rem;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
    padding: 0;
}

.mobile-links a {
    font-size: 2rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}


nav {
    font-size: 2rem;
    width: 25rem;
}

.desktop-nav {
    margin-top: 2rem;

}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav a {
    color: #fff;
}

nav a {
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--orange-primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav li a {
    display: flex;
    gap: .5rem;
}


nav li a:hover,
nav li a:hover svg {
    color: #F7B914;
    stroke: #F7B914;
}

nav a.active {
    color: #F7B914;
}

nav a.active svg {
    color: #F7B914;
    stroke: #F7B914;
}

li {
    display: flex;
    gap: 0.5rem;
}


main {
    padding: 2rem;
    width: calc(100% - 200px);
}

@media screen and (max-width: 1010px) {
    main {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    main {
        padding: 2rem 3.5rem;
    }
}


.mobile-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Tres columnas: izquierda | centro | derecha */
    align-items: center;
    padding: 10px 15px;
}

@media screen and (max-width: 434px) {
    .mobile-nav {
        gap: 2rem;
    }
}


.hamburger-menu {
    color: var(--orange-primary);
    grid-column: 1;
    /* Coloca el menú en la primera columna (izquierda) */
}

.logo {
    grid-column: 2;
    /* Coloca el logo en la columna central */
}

@media screen and (min-width:1010px) {
    .mobile-nav {
        display: none;
    }
}

.mobile-nav svg {
    font-size: 10rem;
}

.hamburger-menu {
    cursor: pointer;
}

.hamburger-menu:hover svg {
    color: var(--orange-primary);
}

/* .search-cont {
    padding: 0 2rem;
} */

.search-bar {
    display: none;
}

.search-bar svg {
    /* stroke: #757575; */
    stroke: var(--orange-terciary);
}

@media screen and (min-width: 1010px) {
    .search-bar {
        display: flex;
        border: 1px solid var(--orange-terciary);
        border-radius: 5rem;
        align-items: center;
        gap: 2rem;
        padding: 0 3rem;
        width: 50rem;
    }
}

.search-bar input {
    all: unset;
    color: white;
    font-size: 1.6rem;
    accent-color: white;
    width: 100%;
    padding: 1rem;
}

.search-bar input::placeholder {
    color: var(--orange-terciary);
    font-weight: 200;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}



/* Login */

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile */
.login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--orange-terciary);
    background-color: var(--dark-purple-secondary);
    width: 40rem;
    min-height: 37rem;
    max-height: 42rem;
    padding: 4rem;
    border-radius: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .login-container {
        padding: 1rem;
        height: 80vh;
    }

    .login-form {
        width: 100%;
        height: 42rem;
    }
}

.login-container .error-message {
    background-color: var(--orange-secondary);
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
}

.input-field+.input-field {
    margin-top: 0;
}

.input-field label {
    font-size: 1.6rem;
    color: var(--orange-terciary);
}

.input-field input {
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: .5rem;
}

.login-btn {
    background-color: var(--orange-primary);
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.login-btn:hover {
    background-color: #e3ab0f;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .login-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.login-options {
    display: flex;
    justify-content: space-between;
}

.login-options p {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* favoritos */
.title {
    color: var(--white-color);
    font-size: 3rem;
    margin: 2rem 0;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    place-items: center;
    padding-bottom: 7rem;
}

@media (min-width: 500px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        gap: 1rem;
    }
}

@media (min-width: 750px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.content {
    overflow-y: scroll;
    height: 85vh;
    padding-bottom: 10rem;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    /* margin: 3rem 0; */
    padding: 0 2rem;
}

.carousel-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--white-color);
    color: #716BDC;
    color: #DC9751;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 15px;
    padding: 10px 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.movie-card {
    flex: 0 0 auto;
    width: 20rem;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}

.grid.movie-card {
    min-width: 100%;
    max-width: 20rem;
}

.movie-card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.movie-card:hover .movie-actions {
    opacity: 1;
}

.action-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.watch-btn {
    background-color: var(--orange-primary);
    color: white;
}

.hide-btn {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.action-btn:hover {
    opacity: 0.8;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    transition: all 0.3s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.hidden {
    display: none;
}

/* Tooltip/Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    background-color: #181818;
    padding: 25px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--white-color);
}

#modal-message {
    color: var(--white-color);
    font-size: 1.4rem;
}

.modal-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.confirm {
    background-color: var(--orange-primary);
    color: white;
}

.cancel {
    background-color: #333;
    color: white;
}

.toast {
    position: fixed;
    top: 2rem;
    right: 2rem;
    /* bottom: 20px;
    right: 20px; */
    background-color: #333;
    background-color: var(--dark-purple-secondary);
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
    font-size: 1.6rem;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast svg {
    color: #4CAF50;
}

/* settings page */

.settings {
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.setting-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 400px) {
    .setting-item {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .setting-item {
        width: 75%;
    }
}

@media (max-width:700px) {
    .setting-item {
        width: 70%;
    }
}

@media (min-width:700px) {
    .setting-item {
        width: 40%;
    }
}

.setting-item label {
    color: var(--orange-primary);
    font-size: 1.8rem;
    font-weight: bold;
}

.setting-item input {
    font-size: 1.8rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

.setting-item button {
    font-size: 1.8rem;
    background-color: var(--orange-primary);
    color: var(--white-color);
    min-width: 12rem;
    max-width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

.setting-item button:hover {
    background-color: #bf9216;
}

.movie-details {
    display: flex;
    gap: 2rem;
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .movie-details {
        flex-direction: column;
        padding: 0 1rem;
        padding-bottom: 10rem;
    }

    .movie-details .movie-cover {
        margin: 0 auto;
    }
}


@media screen and (min-width: 700px) {
    .movie-details {
        /* padding: 2rem; */
    }
}


.movie-details .movie-cover {
    height: 30rem;
    width: 20rem;
}

.movie-info {
    width: 100%;
}

.movie-watch {
    display: flex;
    gap: 5rem;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .movie-watch {
        display: flex;
        justify-content: space-between;
    }

}


.movie-watch .movie-watch-btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--orange-primary);
    font-size: 1.6rem;
    color: var(--orange-primary);
    padding: 1rem 2rem;
    border-radius: .4rem;
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
    .movie-watch-btn {
        font-size: 1.8rem;
    }
}

.movie-watch .movie-watch-btn:hover {
    background-color: var(--orange-primary);
    color: var(--white-color);
    transform: scale(1.05);
}

.movie-watch .movie-watch-btn:hover svg {
    fill: var(--white-color);
}

.movie-details .movie-title {
    font-size: 2.5rem;
    color: var(--orange-primary);
    text-transform: uppercase;
}

.movie-details .subtitle {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 2rem;
    color: var(--white-color);
}

@media screen and (max-width: 600px) {
    .movie-details .movie-title {
        font-size: 1.8rem;
    }

    .movie-details .subtitle {
        font-size: 1.6rem;
    }
}

.movie-details .subtitle span {
    font-weight: normal;
    color: var(--white-color);
}

/* .movie-details p {
    font-size: 1.6rem;
    color: var(--white-color);
} */

.movie-description {
    text-align: justify;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

@media screen and (max-width: 600px) {
    .movie-description {
        font-size: 1.4rem;
    }
}